.icon{
  width:50px;
}

.brand{
    height:25px;
}

.tab{
  margin-left: 10%;
  width:80%;
  background-color:white;
  border-style:solid;
  border-color:black;
  border-radius:2%;;
  background-color:white;
  padding : 10px 10px 10px 10px;
  box-shadow: 5px 5px;

}
body{
  background-color : rgb(245,241,240);
}
