<!---Search in tab --->

<form class="navbar-form navbar-right navbar-fixed-bottom" role="search">
    <div class="form-group">
      <input type="text" class="form-control" style="width:100%;" ng-model="search" placeholder="Search Here">
    </div>
    <button type="submit" ng-click ="result()" class="btn btn-primary">Search</button>
  </form>
<!---loads data in tab--->
<div class = "row tab" ng-repeat= "tab in data">
  <div class = "col-md-1">
    <img class ="icon"  src = "{{choose(tab.category)}}" alt="category" />

  </div>
  <div class = "col-md-9">
    <strong>{{tab.title}}</strong>
    <p>

    </p>

  </div>
  <div class = "col-md-2">
    <a href="{{tab.torrentLink}}">
      <img class="icon" src="static/static/magnet.png" alt="magnet link" />
      <span class = "label label-info">MAGNET LINK</span>
    </a>
    <div class = "status">
      <span class="label label-primary">Seeds {{tab.seeds}}</span>
      <span class="label label-danger">Leechs {{tab.leechs}}</span>

      <br/>
      <span class="label label-info">Size : {{convert(tab.size)}}MB</span>

    </div>
  </div>

</div>
